/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.d-page-1716942098 DIV.dmInner{
    background-repeat:no-repeat !important;
    background-size:cover !important}
    *#dm *.d-page-1716942098 DIV#dmSlideRightNavRight{
    background-repeat:no-repeat !important;
    background-image:none !important;
    background-size:cover !important}
    *#dm *.dmBody div.u_1959370670{
    padding-top:15px !important}
    *#dm *.dmBody *.u_1829660991 .photoGalleryThumbs{
    padding:2px !important}
    *#dm *.dmBody *.u_1829660991 .layout-container{
    padding:2px !important}
    *#dm *.dmBody *.u_1829660991 .photoGalleryViewAll{
    padding:0 4px !important}
    *#dm *.dmBody div.u_1829660991 .caption-container .caption-title{
    font-size:20px !important}
    *#dm *.dmBody *.u_1829660991 .caption-inner{
    padding-left:0 !important;
    padding-right:0 !important}
    *#dm *.dmBody div.u_1601169359{
    padding-top:0 !important}
    *#dm *.dmBody div.u_1620106714{
    margin-left:0 !important;
    padding-top:30px !important;
    padding-left:20px !important;
    padding-bottom:30px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:20px !important;
    margin-right:0 !important}
    *#dm *.dmBody div.u_1208888266{
    padding-top:0 !important}
    *#dm *.dmBody div.u_1838984766{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:67px !important;
    margin-left:0 !important;
    max-width:261px !important;
    margin-top:20px !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
    display:block !important}
    *#dm *.dmBody a.u_1023142679{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:50px !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:53px !important;
    margin-left:0 !important;
    max-width:243px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important}
    *#dm *.dmBody div.u_1243667655{
    margin-left:0 !important;
    padding-top:50px !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    background-position:100% 100% !important;
    background-repeat:no-repeat !important;
    background-size:cover !important}
    *#dm *.dmBody div.u_1944546503{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:207px !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:100% !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important}