/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1676203797
{
	padding-top:70px !important;
	padding-bottom:70px !important;
}
*#dm *.dmBody div.u_1584202427
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:343px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:0 !important;
}
*#dm *.dmBody div.u_1810787416
{
	height:270px !important;
}
*#dm *.dmBody div.u_1094637732
{
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1779575014
{
	padding-top:0 !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_1400500996
{
	padding-top:0 !important;
}
*#dm *.dmBody div.u_1405078172
{
	padding-top:0 !important;
}
*#dm *.dmBody div.u_1241337677
{
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.dmBody div.u_1735439548
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_Accounting
{
	padding-top:0 !important;
}
*#dm *.dmBody div.u_Consulting
{
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.dmBody div.u_Taxes
{
	padding-top:0 !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_Audit
{
	padding-top:0 !important;
}
*#dm *.dmBody div.u_1247986840
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_1634620029
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_MonthlyReport
{
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_EventBudget
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}
*#dm *.dmBody div.u_EventReports
{
	padding-top:40px !important;
	padding-bottom:40px !important;
}